body {
  font-family: Roboto, Helvetica, sans-serif;
  margin: 15px 15px 15px 15px;
}
thead td {
  font-weight: bold;
}
#header {
  width: 100%;
  background-color: #3f51b5;
  color: white;
  padding: 1px 10px;
}
#content {
  margin: 5px;
}
#container {
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: white;
  width: 100%;
  border-top: 1px solid black;
  overflow: scroll;
  max-height: 20%;
}
#player {
  float: right;
}
#playerTitle {
  font-weight: bold;
}
#debug {
  font-family: monospace;
}
.debug_links {
  padding: 5px;
}

.section-break {
  padding-bottom: 20px;
}
.audio-cell {
  /* Center audio widgets in the table cell. */
  text-align: center;
  padding-bottom: 1px;
  padding-top: 1px;
  width: 50px;
}
.audio-cell-padded {
  text-align: center;
  padding-bottom: 10px;
  padding-top: 10px;
}
.audio-header-col {
  vertical-align: text-top;
  text-align: left;
  /* Don't wrap header text. */
  white-space: nowrap;
  /* Some breaking space between headers for readability. */
  padding-right: 5px;
  padding-left: 5px;
}
.audio-header-row {
  text-align: center;
  /* For uniformity, limit the cell's width. */
  width: 70px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.sample audio {
  vertical-align: middle;
  padding-left: 3px;
  padding-right: 3px;
}

.round-button {
	box-sizing: border-box;
	display: inline-block;
	width:30px;
	height:30px;
	padding-top: 8px;
	padding-left: 3px;
	line-height: 6px;
	border: 1.2px solid #000;
	border-radius: 50%;
	color: #000;
	text-align:center;
	background-color: rgba(0,0,0,0.00);
	font-size:6px;
  box-shadow: 0px 0px 2px rgba(0,0,0,1);
	transition: all 0.2s ease;
}
.round-button:hover {
	background-color: rgba(0,0,0,0.0);
	box-shadow: 0px 0px 4px rgba(0,0,0,1);
}
.round-button:active {
	background-color: rgba(0,0,0,0.01);
	box-shadow: 0px 0px 1px rgba(0,0,0,1);
}
